99_cover/

data/

Dockerfile
docker-compose.yml
.devcontainer/

*.DS_Store
*.tif
data/intermediate/test_images/
data/raw/test_images/
data/raw/tiles
data/intermediate/tiles_png
data/intermediate/
*.nc
*.png
*.yaml
*.js
*.css
*.pgw
*.tex
*.qpt
*.html
*.pdf
*.pt
*.jpg
*.txt
*.gpkg
*.cache
*.cpg
*.dbf
*.dbf
*.gpkg-shm
*.gpkg-wal
*.xml
*.csv
*.geojson
*.rtf


src/